.text {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Lexend', sans-serif;
}

.text2 {
    text-align: center;
    font-size: 2.5em;
    font-family: 'Lexend', sans-serif;
}

.text3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.bgColour {
    background-color: #263371;
}

.centerImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    padding: 1em;
    color: white;
}

header h2 {
    transition: all .3s linear 0s;
}

header h2:hover {
    color: #e11d3e;
}

.box {
    height: 500px;
    width: 500px;
}

.padding {
    padding: 10px;
}

.padding2 {
    padding: 0 10px 0 10px
}

.img {
    height: 350px;
    width: 350px;
}

button {
    font-size: 32px;
    margin: 1em;
    padding: .5em 1em;
    transition: all .3s linear 0s;
    background-color: #e11d3e;
    color: white;
}

button:hover {
    font-size: 32px;
    margin: 1em;
    border-radius: 2em;
    padding: .5em 3em;
    background-color: #ffd107;
    color: black;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #263371;
    margin: 0em 0em 2em 0em;
    padding: 1em;
}

.white {
    color: white;
}

.main {
    background-color: #1b1933;
}

.intro {
    display: flex;
}

.intro h2 {
    font-size: 48px;
}

.employeeBox {
    display: flex;
}

.hiddenEmployees {
    display: none;
}

.flexCenter {
    justify-content: center;
    align-items: center;
}


/*------------ Grid Items ------------*/

/* .head, .main > *, .foot {
    display: grid;
       grid-template-columns: 1fr repeat(2, minmax(auto, 30em)) 1fr;
 } */

 .one-item {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: 1fr;
 }

 .two-items {
    display: grid;
    grid-column: 2 / span 2;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-evenly;
 }